
//
//
// common
//
//
//
body, a, input, select, button {
    font-family: 'PolySans Slim';
    overflow-x: hidden;
}

.container--1000 {
    max-width: 43.75rem;
    margin: auto;
    padding: $gt;
}

//
//
// txt
//
//
$txt_xs: .8rem;
$txt_sm: 1rem;
$txt: 1.3rem;
$txt_md: 1.7rem;
$txt_lg: 2.2rem;
$txt_xl: 3rem;
$txt_xxl: 4rem;
//txt color
.color--grey {color:$greyBorder};
//
// title
//
//
h2, h5 {
    font-weight: normal;
}

h2 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.2rem;
    font-family: 'PolySans Neutral';
}
//
//
// links style
//
//
// links style
a {
text-decoration: none;
}

button {
    background-color: transparent;
    margin: 0;
    border: none;
}

button:hover, a:hover {
    cursor: pointer;
}
