@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;900&display=swap');

@font-face {
    font-family: 'Bogam Regular';
    src: local("Bogam Regular"), url('../../../fonts/Bogam.ttf');
    font-weight: normal;
    font-style: normal;
}

